[submodule "ICO_DEMO-1"]
	path = ICO_DEMO-1
	url = https://github.com/xmaherr/ICO_DEMO-1.git
[submodule "firstServletDemo"]
	path = firstServletDemo
	url = https://github.com/xmaherr/firstServletDemo.git
[submodule "injection-1"]
	path = injection-1
	url = https://github.com/xmaherr/injection-1.git
[submodule "vehicles-system-task2-session3"]
	path = vehicles-system-task2-session3
	url = https://github.com/xmaherr/vehicles-system-task2-session3.git
[submodule "bean-scope-session4-task1"]
	path = bean-scope-session4-task1
	url = https://github.com/xmaherr/bean-scope-session4-task1.git
[submodule "init-destroy-session4-task2"]
	path = init-destroy-session4-task2
	url = https://github.com/xmaherr/init-destroy-session4-task2.git
[submodule "vehicle-system-session5-task"]
	path = vehicle-system-session5-task
	url = https://github.com/xmaherr/vehicle-system-session5-task.git
[submodule "vehicle-system-session6-task"]
	path = vehicle-system-session6-task
	url = https://github.com/xmaherr/vehicle-system-session6-task.git
[submodule "MVC-session7-task"]
	path = MVC-session7-task
	url = https://github.com/xmaherr/MVC-session7-task.git
[submodule "MVC-session9-task"]
	path = MVC-session9-task
	url = https://github.com/xmaherr/MVC-session9-task.git
[submodule "MVC-Validation"]
	path = MVC-Validation
	url = https://github.com/xmaherr/MVC-Validation.git
[submodule "hibernate-orm-crud-session11"]
	path = hibernate-orm-crud-session11
	url = https://github.com/xmaherr/hibernate-orm-crud-session11.git
[submodule "HQL-session12"]
	path = HQL-session12
	url = https://github.com/xmaherr/HQL-session12.git
