[submodule "ICO_DEMO-1"]
	path = ICO_DEMO-1
	url = https://github.com/xmaherr/ICO_DEMO-1.git
[submodule "firstServletDemo"]
	path = firstServletDemo
	url = https://github.com/xmaherr/firstServletDemo.git
[submodule "injection-1"]
	path = injection-1
	url = https://github.com/xmaherr/injection-1.git
[submodule "vehicles-system-task2-session3"]
	path = vehicles-system-task2-session3
	url = https://github.com/xmaherr/vehicles-system-task2-session3.git
[submodule "bean-scope-session4-task1"]
	path = bean-scope-session4-task1
	url = https://github.com/xmaherr/bean-scope-session4-task1.git
[submodule "init-destroy-session4-task2"]
	path = init-destroy-session4-task2
	url = https://github.com/xmaherr/init-destroy-session4-task2.git
[submodule "vehicle-system-session5-task"]
	path = vehicle-system-session5-task
	url = https://github.com/xmaherr/vehicle-system-session5-task.git
[submodule "vehicle-system-session6-task"]
	path = vehicle-system-session6-task
	url = https://github.com/xmaherr/vehicle-system-session6-task.git
